{% load static %}
<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>SLGPT</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

  </head>  
  
  <body>
  <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="" class="logo">
                          SLGPT
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#about">ABOUT</a></li>
                          <li class="submenu">
                              <a href="javascript:;">BLOG</a>
                              <ul>
                                  <li><a href="">자유게시판</a></li>
                                  <li><a href="">방명록</a></li>
                              </ul>
                          </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>

  <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item">
        <div class="img-fill">
          {% comment %} <img src="static/images/slide-01.jpg" alt=""> {% endcomment %}
            <div class="text-content">
              <h3>Welcome To Sign Language GPT</h3>
              <h5>Try Sign Language GPT</h5>
              <a href="/selfchatgpt/" class="main-stroked-button">Chat GPT</a>
              <a href="/selfsignlanguagetochatgpt/" class="main-stroked-button">Sing Language GPT</a>
            </div>
        </div>
      </div>
      <!-- // Item -->
    </div>
</div>
    
      {% comment %} <h1><a href="/">Django</a></h1>
      <ol>
          <li><a href="/chatgpt/">ChatGPT API 사용</a></li>
          <li><a href="/signlanguagetochatgpt/">수어-ChatGPT 연동</a></li>
          <li><a href="/selfchatgpt/">Self ChatGPT API 사용</a></li>
          <li><a href="/selfsignlanguagetochatgpt/">Self 수어-ChatGPT 연동</a></li>
      </ol>
      <h2>Django</h2>
      <p><a href="https://www.djangoproject.com/" target="_blank">Django</a>는 Python으로 작성된 오픈 소스 웹 프레임워크로, 빠르고 쉬운 웹 개발을 가능하게 합니다.</p> {% endcomment %}
  </body>
</html>